/' 
2015 University of Calgary SENG301 PlantUML Unofficial Config File
By: Mikhael Boyle
Version: 1.0.1
Last Modified: 14/10/2015

Description:

This config file is intended to simplify the look of Class/Sequence/State
diagrams to meet the standard set for SENG301.
It uses monochrome by default, but this can be overriden if needed.

Due to missing formatting options, one should use Class syntax for Object
diagrams, in order to get the desired look.

Usage:

As with any config file, add it to your preprocessor directives with:
!include SENG301.config
NOTE: This assumes the config file is in your working directory, 
if it's not you need to provide the path.

You can specify the use of this file in the command line with the -config
argument as well.

PlantUML works nearly perfectly for Class diagrams, with the exception of
access levels on classes, if you want to specify that declare the class
as such:
Class className as "$ClassName"
where $ is the desired access level. 

Sequence diagrams work basically perfectly, 
just make sure you activate/deactivate your objects on the correct lines.

It is recommended that you use Class diagrams for Object diagrams as well,
because Objects cannot be given aliases and : can't be used in names. 
Keep in mind that double underscores are used to denote underlines.

Once you include: 
hide empty description
State diagrams work properly, however you need to add line breaks in your
arrow descriptions using '\n' to ensure that the descriptions do not
become too long.
'/

hide circles
hide empty members
hide footbox

skinparam monochrome true
skinparam classAttributeIconSize 0
skinparam shadowing false
skinparam backgroundColor White

skinparam Class {
backgroundColor White
borderColor Black
ArrowColor Black
}

skinParam Note { 
backgroundColor White
borderColor Black
ArrowColor Black
}


skinparam sequence {
ArrowColor Black
ActorBorderColor Black
LifeLineBorderColor Black
LifeLineBackgroundColor White
ParticipantBorderColor Black
ParticipantBackgroundColor White
ActorBackgroundColor White
ActorFontColor Black
}

skinparam object {
backgroundColor White
borderColor Black
ArrowColor Black
}

skinparam State {
backgroundColor White
borderColor Black
ArrowColor Black
}

skinparam Activity {
backgroundColor White
borderColor Black
ArrowColor Black
}

skinparam legend {
backgroundColor White
borderColor Black
}
